body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Times New Roman', Times, serif;
    
} 

.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background:lightblue;  
        border-radius: 15px ;  
          
}

h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
} 
#log{
    width: 80px;  
    height: 30px;  
    border: none;  
    border-radius: 5px;  
    padding-left: 7px;  
    color: blue; 
}